.form-header {
    position: absolute;
    width: 100%;
    float: left;
    top: -3%;
    cursor: pointer;
}

.fa-back-a {
    position: relative;
    margin-left: 10px;
    color: #a9a9a9;
}

.fa-back-a:hover, .fa-back-a:active {
    color: #0264ae;
    text-decoration: none;
}

.fa-back-a .fa-back-text {
    font-size: 14px;
}

.input-group-btn {
    padding: 0;
    background: #262626;
}

.input-group-btn .btn-default {
    color: darkgrey;
    background: #262626;
    padding: 7.5px 5px;
}

.col-sm-12 {
    padding: 0;
}

.form-control {
    margin-bottom: 7%;
    font-size: 11px;
}

.form-submit {
    margin: 0 auto;
    width: 80%;
    color: #666;
}

.form-footer {
    margin: 0 auto;
    width: 80%;
    clear: both;
}

#footer {
    margin-top: 100%;
}

.main-form {
    top: 4.5%;
}
@media screen and (min-width: 1024px) {
    #footer {
        padding-top: 20%;
    }

    .fa-back-a .fa-back-text {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
    #footer {
        padding-top: 30%;
    }

    .fa-back-a .fa-back-text {
        font-size: 15px;
    }
}

@media screen and (min-width: 320px) and (max-width: 320px) {
    .form-submit {
        width: 90%;
    }

    .fa-back-a .fa-back-text {
        font-size: 12px;
    }
}